/* 

*/ 

section {
    margin: 5% 0;
} 
body {
    font-family: "Libre Baskerville", serif; 
background-color:  #ffe4c4;
color:black
}
h1 {
    font-family: "Oswald", sans-serif; 
    text-align: center;
    font-weight: 900;
    color:azure 
} 

header {
    background-color: darkgray;
    text-align: center;
    color:azure
} 
main {
    font-size: smaller;
}
footer {
    color:azure; 
    background-color: darkgoldenrod;
}

img {
max-width: 60;
max-height: 60;
align-items: center;
}
