 
header {
    font-family: "Abel", sans-serif; 
    text-align: center;
    text-shadow: 5px 5px 10px #5D5E4F;
    background-image: url('../images/restaurant.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding: 30% 5%; 
    color: white;
} 
 
h1 {
    font-size: 8em;
    font-family: "Italiana", sans-serif;
 }   

h2 { 
    font-size: 1.1 em;
    letter-spacing: 1px;
} 

body { 
    background-color: black;
    font-size: 16px;

} 

p { 
    font-family: "Roboto", sans-serif;
}

#block-black {
    width: 55%;
    padding: 50px 290px;
    color: white;

} 

#graphics {
    background-color: #f9f1e5;
    color: black;
    padding: 5%;
    
}

 h3 {
    font-family: "Italiana", sans-serif; 
    text-align: center;
 }  

 .img-fluid {
    max-width: 60%;
    max-height: 60%;
    padding: 0 50px;
 }

 .chart-full {
    max-width: 75%;
    max-height: 65%;
    padding: 30px 100px;

 } 
 a {
    color: #e18d58;
 } 

