body {
    font-family: "Playfair Display", serif;
    background-color: black;
}

header,
footer {
    color: bisque;
    padding: 25px 0;
}

a {
    color: #33B2FF;
}

h1,
h2 {
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
}

h1 {
    font-size: 3.8em;
    text-align: center;
    padding: 0 0 .5em 0;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

nav {
    text-align: center;
}

section {
    padding: 2em 0;
}

.block-bisque {
    background-color: bisque;
}

.block-white {
    background-color: whitesmoke;
}

.profile-pic {
    border-radius: 50%;
}

 #clips .row {
    text-align: center;
 }
 
.dbk {
    max-height: 250px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
