/* 





*/  header {
    text-align: center; 
    background-color: black;
    color: bisque;
   
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 3.8em;
} 

h2 { 
    font-family: "Oswald", sans-serif;
    font-size: 2.4em;

} 

main {
    font-family: "Playfair Display", serif;
    background-color: bisque; 

} 

h3 {
    font-size: 1.6em;
    
}  
 footer {
    color: bisque;
    background-color: black; 
    font-family: "Playfair Display", serif;
 }
