
body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

h1 {
    
    font-family: "Roboto Condensed", sans-serif;
    color: #FF5733
    
} 
#education {
    background-color: bisque;
    padding: 1em;
    text-align: center;
}
h2{
    color: #CE33FF
} 
